.banner {
  .swiper {
    @apply h-[240px] w-full md:h-[420px];
  }

  .swiper-img {
    @apply h-full w-full;
    object-fit: cover;
  }

  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    @apply bottom-2 md:bottom-6;
  }

  .swiper-pagination {
    @apply px-4;
  }

  .swiper-horizontal > .swiper-pagination-bullets,
  .banner .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .banner .swiper-pagination-fraction {
    @apply md:h-8;
  }

  .swiper-pagination-bullet {
    @apply w-7 bg-gray69 md:h-2;
    opacity: 1;
    border-radius: 450px 450px 450px 450px;
  }

  .swiper-pagination-bullet-active {
    @apply bg-green57;
  }
}
