.banner {
  .swiper {
    @apply h-[240px] w-full md:h-[420px];
  }

  .swiper-img {
    @apply h-full w-full;
    object-fit: cover;
  }

  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    @apply left-[65%] bottom-6 md:left-[80%];
  }

  .swiper-pagination {
    @apply px-4;
  }

  .swiper-horizontal > .swiper-pagination-bullets,
  .banner .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .banner .swiper-pagination-fraction {
    @apply flex h-4 w-[8.5rem] items-center justify-between rounded-[398px] md:h-8;
    // opacity: 0.7;
    background-color: rgb(83, 83, 83) 0.7;
    backdrop-filter: blur(3px);
  }

  .swiper-pagination-bullet {
    @apply h-1 w-7 bg-black68 md:h-2;
    opacity: 1;
    border-radius: 450px 450px 450px 450px;
  }

  .swiper-pagination-bullet-active {
    @apply bg-white;
  }
}
