.deposit {
  @apply flex flex-col px-4 pt-9 xl:px-0;
  .title {
    @apply text-[2.125rem] font-bold text-gray333;
  }
  .token {
    @apply mt-8 mb-10 flex flex-row items-center justify-start font-medium;
    .label {
      @apply ml-2 font-normal text-gray999;
    }
    .token-p {
      @apply mr-3 text-lg font-normal text-gray333;
      font-family: 'AvenirNext-DemiBold';
    }
    .new {
      @apply text-base font-normal text-gray333;
    }
  }
  .select {
    p {
      @apply font-medium;
    }
    .select-title {
      @apply text-base text-gray333;
      font-family: 'AvenirNext-Bold';
    }
    .content {
      @apply mt-3 mb-4 font-normal text-gray999;
    }
  }

  .qrcode {
    @apply mt-10 flex-row items-center md:flex;
    .content {
      @apply flex flex-col;
      .content_title {
        @apply text-font22xl font-bold text-gray333;
      }
      .content_tips {
        @apply my-3 text-sm text-gray999;
      }

      .address {
        @apply flex flex-row items-center justify-start rounded-2xl bg-gray-100 px-4 py-2 text-sm md:p-2;
        img {
          @apply ml-2 h-4 w-4;
          @apply cursor-pointer;
        }
      }
    }
  }
  .tip {
    @apply my-10;
    p {
      @apply mb-2 text-xs text-gray999;
    }
    .tip_title {
      @apply text-lg;
    }
  }
  .toast {
    @apply fixed top-1/2 left-1/2 flex -translate-x-1/2 -translate-y-1/2 items-center rounded-full bg-white py-2 px-4 text-sm;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.08);
    .copied {
      @apply mr-1 h-6 w-6;
    }
  }
}
