.evt-detail,
.nft-detail {
  @apply mt-10 flex flex-col justify-between p-4;
  .info {
    @apply grid grid-cols-1 md:grid-cols-3;
    .info-img {
      @apply relative col-span-1 bg-grayf3 pb-[100%];
      img {
        @apply absolute h-full w-full object-cover;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .detail {
      @apply col-span-2 ml-2 mt-4 flex flex-col justify-start md:ml-8 md:mt-0;
      h2 {
        @apply text-3xl font-medium;
      }
      .owner {
        @apply my-7 flex flex-row items-center justify-start;
        .tl {
          @apply flex flex-row items-center justify-start;
          img {
            @apply h-12 w-12 rounded-full;
          }
        }
        .tr {
          @apply ml-8 flex flex-row justify-start;
          > p {
            @apply text-gray-500;
          }
          .name {
            @apply ml-4 text-gray-900;
          }
        }
      }
      .price {
        @apply mt-6 flex flex-row items-center py-2;
        > div {
          @apply flex flex-row items-center justify-between;
          .label {
            @apply font-medium text-black;
          }
          .value {
            @apply ml-2 font-medium text-green-600;
          }
          &:last-child {
            @apply ml-8;
          }
        }
      }
      .action {
        @apply mt-4 flex w-[40%] flex-row items-center justify-between;
        button.primary.outline.black {
          @apply border-black;
        }
      }
    }
  }

  .chain-info {
    @apply mt-16 grid grid-cols-1 md:grid-cols-3;
    .detail {
      @apply col-span-1;
      h2 {
        @apply pt-4 pb-4 text-2xl font-medium;
      }
    }
    .intro {
      @apply col-span-2 flex flex-col md:ml-8;
      h2 {
        @apply pt-4 pb-4 text-2xl font-medium;
      }
      .content {
        @apply flex flex-col rounded-md bg-gray-100 p-4;
        p {
          @apply whitespace-pre-line text-gray-500;
        }
      }
    }
  }
}
.countdown {
  @apply flex flex-col items-center justify-start rounded-md bg-gray-100 p-4;
  .time-info {
    @apply mt-4 flex w-full flex-row justify-around;
    .item {
      @apply flex flex-col items-center justify-start;
      .green {
        @apply text-green-700;
      }
    }
  }
}
.evt-detail {
  .detail {
    h3 {
      @apply mt-6 h-7 w-14 rounded-lg bg-green57 text-center leading-7 text-white;
    }
    .licenes {
      @apply mt-10 w-1/2;
      a {
        @apply flex items-center justify-between;
      }
      @apply mt-5 h-11 rounded-xl bg-grayf1 px-4 text-base font-normal leading-[2.75rem] text-gray333;
      font-family: 'AvenirNext-DemiBold';
    }
  }
}
.nft-collection {
  .content {
    h3 {
      @apply mt-6 h-7 w-14 rounded-lg bg-green57 text-center leading-7 text-white;
    }
  }
}
.nft-collection {
  @apply mt-12 flex flex-col p-2;
  .base-info {
    @apply grid grid-cols-6 gap-x-10;
    .info-img {
      @apply relative col-span-2 bg-grayf3 pb-[100%];
      img {
        @apply absolute h-full w-full object-cover;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .content {
      @apply col-span-2 flex flex-col;
      h2 {
        @apply overflow-hidden text-ellipsis whitespace-nowrap text-2xl text-gray-900;
      }
      .status {
        @apply grid grid-cols-4 gap-x-10;
        @apply mt-8 rounded-md;
        .item {
          @apply col-span-1;
          .value {
            @apply text-lg text-black;
          }
          .label {
            @apply text-base text-gray99 md:whitespace-nowrap;
          }
        }
      }
    }
  }
  .related-info {
    @apply mt-14 flex flex-col;
    .tab-item {
      @apply p-2 text-2xl;
      @apply ui-selected:border-b-4 ui-selected:border-black ui-selected:text-black;
      @apply ui-not-selected:text-gray-500;
    }
  }
}

.chain-content {
  @apply flex flex-col rounded-md bg-grayf1 p-4;
  .chain-item {
    @apply m-1 flex flex-row items-center justify-between;
    .label {
      @apply text-sm text-gray66;
      img {
        @apply ml-1 h-4 w-4 cursor-pointer;
      }
    }
    .value {
      @apply flex flex-row items-center justify-start text-sm text-gray333;
      img {
        @apply ml-1 h-3 w-3 cursor-pointer;
      }
    }
  }
  .toast {
    @apply fixed top-1/2 left-1/2 flex -translate-x-1/2 -translate-y-1/2 items-center rounded-full bg-white py-2 px-4 text-sm;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.08);
    .copied {
      @apply mr-1 h-6 w-6;
    }
  }
}

.properties {
  @apply grid grid-cols-2;
  .property {
    @apply relative m-2 flex flex-col rounded-md bg-gray-100 p-4;
    .type {
      @apply text-sm text-gray-700;
    }
    .value {
      @apply text-base text-gray-900;
    }
    .proportion {
      @apply text-sm text-gray-600;
    }
    img {
      @apply absolute top-0 right-4 h-7 w-7 rounded-md;
    }
    .img {
      @apply cursor-pointer;
    }
  }
}
