.header-box {
  @apply h-[3.75rem] md:h-20;
}
.header-pc {
  @apply hidden border-b-2 border-solid border-gray-100 bg-white px-4 md:block xl:px-0;
  @apply fixed top-0 left-0 z-10 w-full;
  .header {
    @apply mx-auto flex h-20 items-center justify-between;
    .logo,
    .massage-img,
    .language-img,
    .login {
      @apply cursor-pointer;
    }
    .logo {
      @apply w-[7.65rem];
    }
    ul {
      @apply flex items-center;
    }
    li {
      @apply ml-11 flex items-center;
    }
    .massage {
      @apply flex text-lg font-bold text-gray66;
      font-family: 'AvenirNext-Bold';
      .massage-img {
        @apply relative ml-11 w-[1.38rem];
      }
      // i {
      //   @apply absolute top-0 -right-1 h-[0.38rem] w-[0.38rem] rounded-[50%] bg-reddd;
      // }
    }
    .language {
      .language-img {
        @apply relative w-[1.38rem];
      }
      .item {
        @apply absolute right-0 -bottom-32 z-50 rounded-xl bg-white py-4;
        span {
          @apply relative block h-7 w-44 px-4 pr-10 text-base leading-7 text-gray3d hover:bg-greenf2;
        }
        .active {
          @apply text-green57;
          &::before {
            content: '';
            @apply absolute top-[6px] right-4 h-[0.875rem] w-[0.875rem] bg-language-active bg-cover;
          }
        }
      }
    }
    .login {
      @apply h-10 w-[8.25rem] rounded-xl bg-green57 text-center font-bold leading-10 text-white;
      span {
        @apply w-full;
      }
    }
  }
}

.header-mobile-box {
  @apply block bg-white md:hidden;
}
.header-mobile {
  @apply relative flex h-[3.75rem] items-center border-b-[1px] border-grayf3;
  .header-menu {
    @apply absolute top-5 left-5 h-6 w-6 cursor-pointer;
  }
  .logo {
    @apply mx-auto w-28 cursor-pointer;
  }

}

.mobile-dialog {
  @apply mt-[3.75rem] h-screen w-screen bg-white;
  .item {
    @apply pt-8;
  }
  .item-list {
    @apply w-full flex justify-between items-center p-4;
    a,p {
      @apply flex text-gray333 font-normal text-lg w-full;
      font-family: 'AvenirNext-DemiBold';
    }
    img {
      @apply w-[1.565rem] h-[1.565rem] mr-2;
    }

  }
}
