#home {
  @apply px-4 pb-16 md:pb-32 xl:px-0;
  .blind {
    .title {
      @apply mt-2 text-2xl text-gray-800;
    }
  }
  .recommend {
    .title {
      @apply mt-2 text-2xl text-gray-800;
    }
  }

  .assets {
    @apply flex flex-col;
    @apply mt-2 mb-2;
    @apply w-full;
  }

  .blind-box {
    h1 {
      @apply mb-4 mt-10 ml-2 text-xl md:mb-7 md:mt-20 md:text-2xl;
    }
    .list {
      @apply mt-4 grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 md:gap-4 lg:grid-cols-4;
    }
    .item {
      @apply col-span-1 mb-5 flex flex-col rounded-xl text-center shadow-lg;
      @apply border border-white bg-white hover:border-gray-100;
      @apply dark:border-gray-900 dark:bg-gray-900 dark:hover:border-gray-700;
      @apply sm:hover:scale-105 sm:hover:transform sm:hover:duration-700;
      @apply cursor-pointer;
      .cover {
        @apply relative h-full rounded-lg pb-3;
        .perfect_square {
          @apply relative h-full rounded-t-lg pb-[100%];
          img {
            @apply absolute top-1/2 left-1/2 h-full w-full rounded-t-lg object-cover;
            transform: translate(-50%, -50%);
          }
          .status {
            @apply absolute bottom-2 left-2 rounded-md;
            @apply bg-gray-500 text-white opacity-75;
            @apply px-2 py-1;
          }
          .time-onimg {
            @apply absolute left-2 top-2 rounded-[0.25rem] bg-black bg-opacity-60 p-2 text-left text-base text-white md:right-2 md:w-[95%];
          }
          .status-onimg {
            @apply absolute left-2 bottom-2 rounded-md bg-black bg-opacity-30 px-2 py-1 text-xs text-white;
          }
        }
      }
      .profile {
        @apply mt-1 flex flex-1 flex-col px-3 pb-1 text-left;
        h3 {
          @apply truncate text-xl font-bold text-gray333 md:text-base;
          @apply dark:text-gray-300;
        }
        .blindbox-footer {
          @apply flex items-center justify-between;
          .num-wrap {
            @apply mt-2 mb-2 flex items-center rounded-[4px] border-[1px] border-graye8;
            .num-name {
              @apply relative bg-graye8 py-1 pl-2 pr-[6px] text-sm text-grayText;
            }
            .num-name::after {
              @apply absolute right-[-6px] top-0 h-0 w-0;
              border-color: #e8e8e8 transparent transparent #e8e8e8;
              border-width: 14px 3px;
            }
            .num {
              @apply px-4 text-base text-blackText;
            }
          }
          .price {
            @apply text-xl text-greenText md:text-lg;
          }
        }
      }
    }
    // .item:hover .cover .perfect_square img {
    //   @apply h-auto max-h-full w-auto max-w-full;
    // }
  }

  .recommend {
    h1 {
      @apply ml-2 mb-4 mt-8 text-xl font-bold md:mb-7 md:mt-16 md:text-2xl;
    }
    .list {
      @apply mt-4 grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-4 md:gap-4 lg:grid-cols-4;
    }
    .item {
      @apply col-span-1 mb-5 flex flex-col rounded-xl text-center shadow-lg;
      @apply border border-white bg-white hover:border-gray-100;
      @apply dark:border-gray-900 dark:bg-gray-900 dark:hover:border-gray-700;
      @apply sm:hover:scale-105 sm:hover:transform sm:hover:duration-700;
      @apply cursor-pointer;
      .cover {
        @apply relative h-full rounded-lg;
        .perfect_square {
          @apply relative  rounded-lg pb-[60%];
          img {
            @apply absolute top-1/2 left-1/2 h-full w-full rounded-t-lg object-cover;
            transform: translate(-50%, -50%);
          }
          .evt-icon {
            @apply absolute top-2 left-2 z-[5] rounded-md bg-white px-2;
          }
          .collection {
            @apply absolute bottom-0 flex w-full items-center justify-center;
            img {
              @apply h-12 w-12 rounded-full bg-opacity-0;
            }
          }
          .nft-info {
            @apply absolute bottom-0 flex w-full flex-col rounded-lg px-2 py-4;
            @apply bg-gradient-to-t from-current to-transparent;
            .name {
              @apply text-left text-lg text-white md:text-base;
            }
            .price {
              @apply flex flex-row text-white;
              .number {
                @apply ml-2;
              }
            }
          }
        }
      }
      .info-box {
        @apply flex flex-col rounded-lg bg-white p-4;
        .name {
          @apply mb-3 text-left text-lg md:text-base;
        }
        .price {
          @apply flex flex-row items-center justify-start;
          .label {
            @apply text-sm text-grayText;
          }
          .number {
            @apply ml-4 text-sm text-greenText;
          }
        }
        .evt-flag {
          @apply mt-3 flex flex-row items-center justify-start;
          img {
            @apply h-5 w-[1.625rem];
          }
          span {
            @apply ml-2 text-gray-500;
          }
        }
        .title-collection {
          @apply mt-3 justify-center text-center text-lg md:text-base;
        }
      }
    }
    .nftItem {
      .cover {
        .perfect_square {
          @apply overflow-hidden pb-[103%];
        }
      }
    }
    .allNftItem {
      .cover {
        .perfect_square {
          @apply pb-[76%];
        }
      }
    }
  }
}
