.withdraw {
  @apply flex flex-col mt-14 mb-20;
  .title {
    @apply text-4xl font-semibold text-gray-900;
  }

  .token {
    @apply my-10 flex flex-row items-center justify-start font-medium;
    .label {
      @apply ml-2 font-normal text-gray999;
    }
  }
  .from-box {
    @apply grid grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-3 md:gap-8 lg:grid-cols-4;

    .code-box {
      @apply relative mb-7;
      .label {
        @apply text-base font-semibold;
      }
      img {
        @apply absolute top-[70%] right-4 -mt-3 h-6 w-6;
      }
      .select-box {
        @apply pl-4 mt-3 h-14 w-full rounded-xl border-2 border-grayed bg-gragfb pt-4 cursor-pointer;
        background: #EEEEEE;
      }
    }

    input {
      @apply pl-4 mt-3 h-14 w-full rounded-xl border-2 border-grayed bg-gragfb;
      background: #EEEEEE;
      &::input-placeholder {
        @apply text-grayc7;
      }

      &::-webkit-input-placeholder {
        color: #c7c7c7 !important;
      }

      &:-moz-placeholder {
        color: #c7c7c7 !important;
      }

      &::-moz-placeholder {
        color: #c7c7c7 !important;
      }

      &:-ms-input-placeholder {
        color: #c7c7c7 !important;
      }
    }
    input[type='text']:focus-visible {
      @apply border-gray8c;
    }
  }

  .fee-box {
    .label {
      @apply text-base font-semibold mb-2;
    }
    .value {
      @apply text-gray999;
    }
  }

  .tips {
    @apply mb-4;
    p {
      @apply mb-2 text-xs text-gray999;
    }
    .tips_title {
      @apply mt-6 text-lg;
    }
  }
}
